input, select {
    padding: 0 10px;
    border-radius: 16px;
    max-width: 400px;
}

label {
    font-weight: 600;
    padding: 10px 0 5px;
}

.submit-btn {
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form {
    justify-content: center;
}

h3.section-title.content {
    margin-top: 2rem;
}