.thanks-msg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.go-back-btn {
    justify-self: center;
    max-width: 400px;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}