.footer {
    background-color: #495E57;
    color: #FFFFFF;
  }

  .footer .content {
    grid-template-columns: repeat(4, auto);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .footer-logo {
    grid-column: 1;
    justify-self: center;
    padding-right: 20px;
    min-width: 6rem;
    width: 6rem;
  }

  .footer h4 {
    margin-bottom: 1rem;
  }

  .footer a {
    color: #FFFFFF;
    transition: color 0.5s;
  }

  .footer a:hover, 
  .footer a:focus {
    transform: scale(1.2, 1.2);
    color: #F4CE14;
  }

  .doormat-nav {
    grid-column: 2;
    align-self: start;
  }

  .doormat-nav ul {
    list-style-type: none;
  }

  .social-media a {
    padding: 0.25rem;
  }




