@media (max-width: 1200px) {
  .about-us {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }

  .about-us-description {
    grid-column: 1;
    grid-row: 1;
  }

  .about-us-description p {
    max-width: 100%;
  }

  .about-us-images {
    grid-column: 1;
    grid-row: 2;
  }
  .about-us-images {
    justify-self: center;
  }
}

@media (max-width: 850px) {
  img.picture-a,
  img.picture-b{
    z-index: unset;
    transform: translate(0, 0);
    max-width: 100%;
  }
  
  img.picture-b{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
