@media (max-width: 1150px) {
    .hero-img {
        margin-bottom: 5rem;
    }
}
@media (max-width: 750px) {
    .hero .container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .description {
        grid-row: 1;
    }

    img.hero-img {
        grid-column: 1;
        grid-row: 2;
        margin-top: 1rem;
        margin-bottom: -4rem;
    }
}