* {
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
  font-size: 20px;
  line-height: 1.2rem;
}

.title, .subtitle {
  line-height: 1;
  font-family: "Markazi Text";
  font-weight: normal;
}

h1.title {
  font-size: 64pt;
}

h2.subtitle {
  font-size: 40pt;
}


h3.section-title {
  font-weight: 800;
  font-size: 20pt;
  text-transform: uppercase;
}

p {
  font-size: 16pt;
}


.content {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

a {
  text-decoration: none;
  color: black;
}

.btn-primary {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #F4CE14;
  color: black;
  font-weight: bold;
  border: 0.1875rem solid #F4CE14;
}



